<% provide(:title, "Help") %>
    <h1>StaticPages#help</h1>
    <p>Find me in app/views/static_pages/help.html.erb</p>

    <h2>yarrrrrrrrrrrrrr</h2>
    <p><i> static page can hold or contain static HTML no problem.</p></i>
    <a href="http://www.naver.com">naver is korean google?</a>

